//colors
$fen-green: #32a991;
$fen-active: #006008;
//$fen-green : #5DA943;
$awe-green: #1a936f;
$fen-whitish: #e5e5e5;

$fen-sub-nav: #e5e5e5;

$fen-yellow: #fabe11;

.fen-yello {
  color: #ffcc00;
}
