.shield {
  img {
    margin: 20px;
  }
}

.logo-img {
  position: absolute;
  margin: 5% 0 0 5%;
  width: 25%;
}

.sky-bg {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 600px) {
    h3 {
      font-size: 1em;
    }
  }
  h3 {
    color: #fff;
  }
  span {
    color: #ffcc00;
  }
}
.containe {
  position: relative;
  text-align: center;
}
